body {
  background: #e8f6fff9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #000000;
}

.title {
  font-size: 4em;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25),
    0 0.4em 1.25em 0 rgba(0, 0, 0, 0.15) !important;
  padding: 2em 3em !important;
}

.date {
  color: rgb(201, 251, 255);
}

#description {
  margin: 1.5em 0 2em 0;
}

.button {
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  color: white;
}

.babyButton {
  background-color: #d00000;
}

.babyButton:hover {
  background-color: #a40101;
}

.schoolButton {
  background-color: #da6d00;
}

.schoolButton:hover {
  background-color: #c66301;
}

.fitnessButton {
  background-color: #dede04;
}

.fitnessButton:hover {
  background-color: #b3b301;
}

.universityButton {
  background-color: #00a100;
}

.universityButton:hover {
  background-color: #058605;
}

.workButton {
  background-color: #0000d2;
}

.workButton:hover {
  background-color: #0000a7;
}

.codeButton {
  background-color: #2e2b5f;
}

.codeButton:hover {
  background-color: #19173a;
}

@media only screen and (max-width: 1700px) {
  .vertical-timeline-element-date {
    display: block !important;
    float: none !important;
    color: rgb(44, 44, 44);
    margin-top: 1.5em;
  }
}
